#main_welcome{
	
	align: center;
	font-family: Comic;
	font-color: #ff3e34;
	padding: 50px;
	margin: 25px;

}

#menu_items{

	align: center;
	border-width: 10px;
	border-style: groove;
	border-color: #5fg5d;
	padding: 50px;
	margin:50px'

}

#


.

